[flake8]
select=FCN,M511

exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

enable-extensions =
    FCN,

fcn_exclude_functions =
    logger,
    os,
    json,
    requests,
    re,
    git,
    Flask,
    write,
    yaml,
    Repo
